*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
}

.form-despesas{
    max-width: 40%;
    height: 30%;
    display: flex;
    flex-direction:column;
    /* justify-content:center;
    align-items:center; */
    flex-wrap:wrap;
    background-color: aqua;
    
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-despesas{
    
    margin:100px auto ;
    padding: 60px 30px;
    border-radius: 30px;
    box-sizing: border-box;
}


h1{
    max-width: 100%;
    padding-bottom: 30px;
    color: aliceblue;
}

button{
    margin-top: 60px;
}


.pagamentos{
    margin: 10px 0 10px 0;

}

.pagamentos label{
    font-weight: bold;
}

.forma-pagamento{
    max-width: 100%;
    padding-top: 5px;
}






@media screen and (max-width: 700px){
     .form-despesas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .form-despesas{
        max-width: 80%;
        height: 40%;
         margin:100px auto ;
        padding: 60px 30px;
        border-radius: 30px;
        box-sizing: border-box;
    }
    
}